html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    overflow-x: hidden;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.wrapper {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

ol,
ul {
    list-style-type: none;
}
h1 {
    margin: 0;
    font-weight: 100;
    color: #F8BCB3;
    text-shadow: rgb(61, 61, 61) 1px 1px 1px;
}
a {
    text-decoration: none;
}

header {
    background-image: url(./assets/hog\ only.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    border: 8px double #1e4e22;
    border-radius: 5px;
}
/* header img {
    position: relative;
    left: -150px;
} */
nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.top {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.hamburg {
    width: 50px;
    height: 50px;
    color: #84dccb;
    border: 3px solid;
    border-radius: 50%;
    align-self: flex-end;
    cursor: pointer;
    position: relative;
    /* margin-top: 30px; */
}
.hamburg > div {
    position: absolute;
    top: 45%;
    left: 25%;
    width: 50%;
    height: 3px;
    background: #84dccb;
    border-radius: 50px;
    transition: all 0.4s;
}
div.one {
    top: 25%;
}
div.three {
    top: 65%;
}

.menu {
    /* width: 150px; */
    background: rgba(255, 255, 255, 0.5);
    height: auto;
    text-align: right;
    position: relative;
    top: -20;
    right: -400px;
    transition: all 0.5s;
    text-transform: uppercase;
    transition: all 0.4s;
    padding: 0;
    bottom: -14px;
}
.menu ul {
    margin-top: 10px;
    padding: 0;
}
.menu a {
    padding: 10px;
    display: block;
    color: #84dccb;
    transition: all 0.2s;
}
.menu ul li:hover {
    background: #84dccb;
}
.menu ul li:hover a {
    color: white;
}
.hamburg.active .one {
    transform: rotate(45deg);
    top: 45%;
    left: 25%;
}
.hamburg.active .three {
    transform: rotate(-45deg);
    top: 45%;
    left: 25%;
}
.hamburg.active .two {
    opacity: 0;
}
.menu.active {
    right: 0;
}

.button,
.finishButton,
.orderButton {
    padding: 10px 50px;
    border: double transparent 3px;
    border-radius: 5px;
    margin-bottom: 60px;
    background: #84dccb;
    color: white;
    transition: all 0.3s;
    font-size: 2.5rem;
    
}

.button:hover,
.button:focus,
.finishButton:hover,
.finishButton:focus,
.orderButton:hover,
.orderButton:focus {
    background-color: #F8BCB3;
    border: double white 3px;
}

.pageOne,
.pageTwo,
.pageThree,
.final {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 8px double #1e4e22;
    border-radius: 5px;
    padding: 30px 0;
}

h2 {
    font-size: 4rem;
    color: #84dccb;
    display: inline-block;
    position: relative;
    font-style: italic;
}
h2::after,
h3::after {
    content: '';
    display: inline-block;
    width: 90%;
    height: 50%;
    background-color: rgba(248, 188, 179,0.4);
    position: absolute;
    bottom: 0;
    left: 5%;
}

ol {
    border: 4px double #F8BCB3;
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* align-items: center; */
    /* margin: 0 auto; */
}
ol li {
    margin: 20px;
    font-size: 2.5rem;
    /* color: #9CE2D4; */
}

.pageOne ol li::before {
    content: "🐽";
    padding: 8px;
    font-size: 2.5rem;
}
.pageTwo ol li::before {
    content: "🍨";
    padding: 8px;
    font-size: 2.5rem;
}
.pageThree ol li::before {
    content: "🐾";
    padding: 8px;
    font-size: 2.5rem;
}

/* h3 {

} */
h3 {
    color: #dfa79f;
    font-size: 3.4rem;
    padding: 0;
    margin: 40px auto;
    text-transform: uppercase;
    font-style: italic;
    position: relative;
}


h3::before {
    content: "";
    display: inline-block;
    width: 90%;
    height: 50%;
    background-color: rgba(248, 188, 179,0.4);
    position: absolute;
    bottom: 0;
    left: 5%;
    transition: all 0.4s;
    /* z-index: -1; */
}

img {
    height: 50%;
    width: auto;
}
.final a {
    font-size: 15px;
    font-weight: 100px;
    color: #308137;
    margin-bottom: 50px;
}