
@media (max-width: 650px) {
    //TODO ------- WHY ISNT THIS GETTING WIDER GDIT
    .page .addPoints .options {
        width: 70%;
    }
    
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .mainPage h1::after {
        height: 80%;
        bottom: 10%;
    }
    .page .addPoints .options {
        width: 80%;
    }
    .page h2,
    .page h3 {
        font-size: 2.5rem;
    }
    .finalPage {
        img.showMe {
            width: 80%;
        }
        .retake {
            font-size: 1.2rem;
        }
    }   
}